{% extends "base.html" %}

{% block title %}Lootboxes{% endblock %}

{% block content %}

{% include "header.html" %}

<div class="generator">
    <h2>Lootbox Generator</h2>
    <button 
        hx-get="/" 
        hx-target="body" 
        hx-swap="outerHTML" 
        hx-replace-url="true">
        Home
    </button>
</div>

<form onkeydown="return event.key != 'Enter';">
    <div class="inline-textinput">
        <p>
            <label for="panel_name">Panel Name</label>
            <input type="text" id="panel_name" name="panel_name">
        </p>
        <p>
            <label for="panel_title">Panel Title</label>
            <input type="text" id="panel_title" name="panel_title">
        </p>
    </div>
    <div class="inline-textinput">
        <label for="lootbox_type">Lootbox Type</label>
        <select name="lootbox_type" id="lootbox_type">
            <Option value="Standard">Standard</Option>
            <Option value="Teaser">Teaser</Option>
        </select>
    </div>
    <label for="commands_on_open">Commands on Open: </label>
    <input type="text" name="commands_on_open[0]">
    <input type="text" name="commands_on_open[1]">
    <input type="text" name="commands_on_open[2]">
    <label for="material">Material: </label>
    <input type="text" name="material">
    <fieldset>
        <legend>Has Section</legend>
        <select  name="item_has[0][main_loot_type]">
            <option value="IGC">Igc</option>
            <option value="SQUID">squid</option>
            <option value="COMMAND">Command</option>
            <option value="PERM">perm</option>
        </select>
        <input type="text" name="item_has[0][loot_name]">
    </fieldset>
    <fieldset>
        <legend>Has Section</legend>
        <select  name="item_has[1][main_loot_type]">
            <option value="IGC">Igc</option>
            <option value="SQUID">squid</option>
            <option value="COMMAND">Command</option>
            <option value="PERM">perm</option>
        </select>
        <input type="text" name="item_has[1][loot_name]">
    </fieldset>
    <button hx-post="/api/generate/lootbox"
        hx-swap="none"
        >Generate Lootbox</button>
</form>
{% endblock %}
