{% extends "base.html" %}

{% block title %}Lootboxes{% endblock %}

{% block content %}

{% include "header.html" %}

<div class="generator">
    <h2>Lootbox Generator</h2>
    <button 
        hx-get="/" 
        hx-target="body" 
        hx-swap="outerHTML" 
        hx-replace-url="true">
        Home
    </button>
</div>

<form onkeydown="return event.key != 'Enter';">
    <div class="inline-textinput">
        <p>
            <label for="lootbox_name">Lootbox Name</label>
            <input type="text" id="lootbox_name" name="lootbox_name">
        </p>
        <p>
            <label for="panel_name">Panel Name</label>
            <input type="text" id="panel_name" name="panel_name">
        </p>
    </div>
    <button hx-post="/api/gen_lootbox"
        hx-swap="none"
        >Generate Lootbox</button>
</form>
{% endblock %}
